*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#f7f3ec;
}

.page{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.card{
  background:#fff;
  width:850px;
  height:380px;
  display:flex;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,.15);
  overflow:hidden;
}

/* LEFT */
.left{
  width:50%;
  padding:40px;
}

.left h2{
  color:#2b78c5;
  margin-bottom:25px;
}

.left label{
  display:block;
  margin-bottom:8px;
  font-size:14px;
}

.left input{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #ddd;
  margin-bottom:18px;
}

.left button{
  width:100%;
  padding:12px;
  background:#2b2f33;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:15px;
}

.left button:hover{
  background:#000;
}

.result{
  margin-top:18px;
  padding:12px;
  background:#fff8dc;
  border:1px solid #f1e3a3;
  border-radius:8px;
  font-size:14px;
}

/* RIGHT */
.right{
  width:50%;
}

.right img{
 /* Rectangle 66 */

width: 587px;
height: 391px;

background: url(pexels-buro-millennial-1438081.jpg);
border-radius: 0px 8px 8px 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;

}
/* Rectangle 66 */

